

.category-item{
    position: relative;
    width: 100%;
    transition: all 210ms cubic-bezier(.8, .1, .2, .9);
}

.item0{
background-color: rgb(127, 196, 131);
}

.item1{
    background-color: rgb(233, 182, 141);
}

.item2{
    background-color: rgb(103, 187, 169);
}

.item3{
    background-color: rgb(22, 212, 155);
}

.item4{
    background-color: rgb(108, 170, 206);
}

.item5{
    background-color: rgb(182, 203, 241);
}

.item6{
    background-color: rgb(223, 167, 255);
}

.item7{
    background-color: rgb(255, 191, 216);
}

.item8{
    background-color: rgb(255, 111, 142);
}

.item9{
    background-color: rgb(211, 250, 161);
}

.item10{
    background-color: rgb(233, 182, 141);
}

.category-link{
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    padding: 20px 30px;
    width: 100%;
    color: #ffffff;
}

.api{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(195, 251, 255);
    border-radius: 5px;
    border-bottom: 1px solid rgb(57, 170, 185);
}

.api-con{
    border-radius: 5px;
    border: 1px solid rgb(57, 170, 185);
    margin-bottom: 20px;
}

.api-main-con{
    display: none;
}

.api-main-con.active{
    display: block;
}

.api-method{
    background: #3e989b;
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 8px 15px;
    text-align: center;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-family: sans-serif;
    color: #fff;
}

.api-method.get{
    background: #589b3e;
}

.api-method.put{
    background: #3e549b;
}

.api-method.delete{
    background: #933e9b;
}

.api-info{
    display: none;
}

.api-info.active{
    display: block;
}

.api-description{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.api.get{
    background: #c0f8aa;
}

.api.put{
    background: #afc2ff;
}

.api.delete{
    background: #f9baff;
}

.block-api-title{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    min-height: 50px;
    background: rgba(255, 250, 250, 0.973);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(59,65,81,.2);
    border-top: 1px solid rgba(59,65,81,.2);
}

.block-title{
    font-size: 14px;
    flex: 1;
    margin: 0;
    font-family: sans-serif;
    color: #3b4151;
}

.request-description{
    font-size: 14px;
    flex: 1;
    margin: 0;
    font-family: sans-serif;
    color: #3b4151;
    background: #e5f3e6;    
}

.con-info{
    padding: 20px 40px;
    background: #ECFAF4;
}

.info-title{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.info-text{
    font-size: 12px;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    border-radius: 4px;
    background: #41444e;
    overflow-wrap: break-word;
    font-family: monospace;
    font-weight: 600;
    color: #fff;
}

.request-names{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(59,65,81,.2);
}

.request-names-val{
    width: 90%;
}

.request-names-val.first{
    width: 10%;
}

.request-descriptions{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.request-about-titles{
    width: 10%;
}

.request-about-descriptions{
    width: 90%;
}

.info-text.response-obj{
    width: 50%;
    display: inline-block;
}