.dx-datagrid-group-opened{
    margin: 10px;
    font: 18px/18px DXIcons;
    height: 18px;
    background-position: 0 0;
    background-size: 10px 8px;
    padding: 0;
    text-align: center;
    color: #959595;
    background-image: url('assets/img/1551/crm1551_arrow_open.png');
    background-repeat: no-repeat;
}
.dx-datagrid-group-opened::before{
    display:none;
}
.dx-datagrid-group-closed::before{
    display:none;
}
.dx-datagrid-group-closed{
    margin: 10px;
    font: 18px/18px DXIcons;
    height: 18px;
    background-position: 0 0;
    background-size: 10px 10px;
    padding: 0;
    text-align: center;
    color: #959595;
    background-image: url('assets/img/1551/crm1551_arrow_close.png');
    background-repeat: no-repeat;
}
.dx-datagrid-text-content{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
    text-align: left;
}
.dx-data-row{
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 14px;
    color: #000000;
}
.dx-master-detail-cell{
    background-color: rgba(239, 247, 249, 1)!important;
}
.dx-button-default{
    background-color: rgba(21, 189, 244, 1)!important;
}

.dx-datagrid-export-button{
    background-color: rgba(21, 189, 244, 1)!important;
    color: #fff!important;
    padding: 0 8px!important;
}
.dx-icon-export-excel-button{
    color: #fff!important;
    margin-right: 9px!important;
}
.dx-header-row>td>.dx-datagrid-text-content{
    text-transform: uppercase;
    text-align: center;
}
.columnHeader{
    position: relative;
    height: 46px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
    width: 100%; 
    color: #fff;
}
.b1{
    z-index: 100;
}
.b3{
    background: blue;
    left: -4px;
}
.b2{
    background: red;
    z-index: 90;
    left: -2px;
}
.triangle{
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 24px solid transparent;
    border-top: 24px solid transparent;
    border-left: 14px solid white;
    right: -14px;
    top: -4px;
}
.triangle4, .triangle5, .triangle6, .triangle2, .triangle3{
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 24px solid transparent;
    border-top: 24px solid transparent;
    border-left: 14px solid white;
    right: -14px;
    top: -4px;
}
.triangle4:before, .triangle5:before, .triangle2:before, .triangle3:before, .triangle:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    top: -20px;
    left: -14px;
}

.triangle:before{
    border-left: 12px solid rgb(211, 211, 211);
}
.triangle2:before{
    border-left: 12px solid rgb(248, 195, 47);
}
.triangle3:before{
    border-left: 12px solid rgb(74, 193, 197);
}
.triangle4:before{
    border-left: 12px solid rgb(132, 199, 96);
}
.triangle5:before{
    border-left: 12px solid rgb(240, 114, 93);
}
#container{
    margin: 30px auto 10px auto;
}
.tableContainer{
    display: flex;
    flex-direction: row;
}
.tabTitle{
    text-transform: uppercase;
}
.columnWrapper{
    position: relative;
}
#filtersWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
}
.columnCategorie{
    border-width: 0px;
    height: 46px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.247058823529412);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.247058823529412);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.247058823529412);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 0 16px;
    cursor: pointer;
}
.columnCategorie__title{
    margin-right: 5px;
}
.columnCategorie__yellow{
    margin: 10px 16px 0 3px;
}
.column{
    width: 20%;
}
#column_2{
    z-index: 150;
}
#column_3{
    z-index: 140;
}
#column_4{
    z-index: 130;
}
#column_5{
    z-index: 120;
}
#column_6{
    z-index: 110;
}
#tabsWrapper{
    border-bottom: 1px solid rgba(204 204 204);
    display: flex;
    justify-content: space-between;
}
.tabsContainer{
    display: flex;
}
.tab{
    color: #15BDF4; 
    font-weight: 400;
    font-style: normal;
    font-size: 14px; 
    cursor: pointer;
    padding: 0 20px 6px;
}
.tabHover{
    border-bottom: 3px solid #15BDF4;
}
.filtersInfo{
    max-height: 90px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-width: 60%;
    max-width: 77%;
}
.filtersContainer{
    display: flex;
    flex-wrap: wrap;
}
.filter{
    cursor: pointer;
    justify-content: space-between;
    height: 34px;
    font-size: 12px;
    border-width: 0px;
    color: rgba(0, 0, 0, 0.537254901960784);
    border-radius: 16px;
    display: flex;
    align-items: center;  
    background-color: rgba(239, 247, 249, 1); 
    margin: 5px 10px;
}
.filterIcon{
    width: 31px;
    height: 31px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 2px;
    color: rgb(132, 220, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterTitle{
    margin: 0 10px 0 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: normal;
}
.filterWrapper{
    position: relative;
}
.filter_closer_hide{
    width: 20px;
    height: 20px;
    background: transparent;
    margin-right: 3px;
}
.filter_closer_show{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(21, 189, 244, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    margin-right: 3px;
}
.modalWindowShowClass{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    z-index: 900;
    top: 44px;
    left: 0;
}
.searchContainer__input{
    height: 34px;
    width: 220px;
    padding: 5px;
    outline-style: none;
    margin: 5px 0;
}
#filterEdit{
    cursor: pointer;
    color: #cccbcb;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
#header1{
    z-index: 100;
}
#modalWindow{
    position: fixed;
    top: 110px;
    margin-left: 50%;
    left: -450px;
    z-index: 950;
    background: #fafafa;
    width: 100%;
    max-width: 900px;
    padding: 15px;
}
#modalHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#modalFilters{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#modalFiltersContainer{
    display: flex;
    flex-direction: column;
}
.modalFiltersContainerItem{
    display: flex;
    flex-direction: row;
}
#modalFiltersHeader{
    display: flex;
    width: 100%;
    border-top: 1px solid #acada8;
    border-bottom: 1px solid #acada8;
}
#modalFiltersHeader__depart{
    width: 100%;
    padding: 5px 10px;
    color: #acada8;
}#modalFiltersHeader__district{
    width: 30%;
    padding: 5px 10px;
    color: #acada8;
}
#modalFiltersHeader__categorie{
    width: 70%;
    padding: 5px 0;
    color: #acada8;
}
#modalFiltersHeader__depart{
    width: 100%;
    padding: 5px 0;
    color: #acada8;
}
.modalFiltersContainer__depart{
    width: 100%;
    padding: 5px 10px;
}
.modalFiltersContainer__district{
    width: 30%;
    padding: 5px 10px;
}
.modalFiltersContainer__categorie{
    width: 70%;
    padding: 5px 0;
}
.districtItem{
    width: 100%;
}
.districtItemSelect{
    width: 90%;
}
.selectItem{
    background: transparent;
    border: none;
    border-bottom: 1px solid #acada8;
    margin: 10px 0;
    font-size: 14px;
    outline: none;
}
.modalBtn{
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 5px;
}
#modalHeader__button_save{
    background-color: rgba(21, 189, 244, 1);
    border: none;
    border-radius: 5px;
    color: #fff;
    
}
#modalHeader__button_close{
    background-color: transparent;
    color: rgba(21, 189, 244, 1);
    border: none;
}
.select2{
    width: 90%!important;
    outline: none;
}
.select2-selection{
    border-radius: 0px!important;
    outline: none; 
    border: none!important;
    border-bottom: 1px solid #acada8!important;
}
.filterWrap{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
}    
#filtersCaptionBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}    
#searchContainer{
    display: flex;
    align-items: center;
}
.root-article {
    z-Index: 10 !important;
}
#techInfoWrapper{
    display: flex;
    flex-direction: column; 
    padding: 15px; 
    background-color: #e2e2e2;
    position: absolute;
    z-index: 999999;
    margin: 10px 0 0;
    right: 0px;
    border-radius: 7px;
}
 #techBox__icon{
   cursor: pointer; color: red;
}
.techInfoWrapper__triangle{
    width: 13px;
    height: 19px;
    border-bottom: solid 8px #e2e2e2;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    position: absolute;
    top: -18px;
    right: 4px;
}
 .techInfoWrapper__triangle:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    top: -20px;
    left: -14px;
}
 
#techInfo__messageTitle{ 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
#techInfo__messageText{ 
    margin: 15px 0px;
    height: 100px;
    font-size: 14px;
    outline: none
}
#techInfo__sendBtn{ 
    color: #fff;
    background-color: #ff6e40;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    outline: none;
}
#techInfo__infoText{
    text-align: center;
    max-width: 325px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
}
.disabledBtn{
    background-color: grey!important;
}
#modalWindowWrapper{
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index:9999;
    top: 44px;
    left: 0;
}
#modalWindow{
    position: fixed;
    top: 140px;
    margin-left: 50%;
    left: -450px;
    z-index: 100;
    background: #fafafa;
    width: 100%;
    max-width: 900px;
    padding: 15px;
}

#modalBtnWrapper{
    display: flex;
    justify-content: center;
}
#btnWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#renderBtn, #modalBtnTrue{
    background-color: #ff6e40;
} 
#modalBtnFalse{
    background-color: #868080;
}  
#modalBtnExit{
    background-color: #ffffff;
    color: #333;
}
#modalBtnTrue, #modalBtnExit, #modalBtnFalse{
    margin: 8px 40px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.modalTitle{
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
}
.btn{
    border-radius: 4px;
    padding: 5px 20px;
    color: #fff;
    height: 28px;
    font-size: 16px;
    min-width: 60px!important;
    border: 0;
    font-weight: 600;
    outline: none;
}
.yellowProzvonBtn{
    background-color: #ebdc21;
    color: #000;
}
.dx-button-text{
    color: inherit;
}
.expiredControlDate{
    background-color:  #ed2020;
    color:  #fff;
}