.dx-datagrid-group-opened{
    margin: 10px;
    font: 18px/18px DXIcons;
    height: 18px;
    background-position: 0 0;
    background-size: 10px 8px;
    padding: 0;
    text-align: center;
    color: #959595;
    background-image: url('assets/img/1551/crm1551_arrow_open.png');
    background-repeat: no-repeat;
}
.dx-datagrid-group-opened::before{
    display:none;
}
.dx-datagrid-group-closed::before{
    display:none;
}
.dx-datagrid-group-closed{
    margin: 10px;
    font: 18px/18px DXIcons;
    height: 18px;
    background-position: 0 0;
    background-size: 10px 10px;
    padding: 0;
    text-align: center;
    color: #959595;
    background-image: url('assets/img/1551/crm1551_arrow_close.png');
    background-repeat: no-repeat;
}
.dx-datagrid-text-content{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
    text-align: left;
}
.dx-data-row{
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 14px;
    color: #000000;
}
.dx-master-detail-cell{
    background-color: rgba(239, 247, 249, 1)!important;    
}
.dx-button-default{
    background-color: rgba(21, 189, 244, 1)!important;
}

.dx-datagrid-export-button{
    background-color: rgba(21, 189, 244, 1)!important;
    color: #fff!important;
    padding: 0 8px!important;
}
.dx-icon-export-excel-button{
    color: #fff!important;
    margin-right: 9px!important;
}
.dx-header-row>td>.dx-datagrid-text-content {
    text-transform: uppercase;
    text-align: center;
}

#modalWrapper{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    z-index: 900;
    top: 44px;
    left: 0;
}
#modalWindow{
    position: fixed;
    top: 110px;
    margin-left: 50%;
    left: -450px;
    z-index: 950;
    background: #fafafa;
    width: 100%;
    max-width: 900px;
    padding: 15px;
}
.selectItem{
    background: transparent;
    border: none;
    border-bottom: 1px solid #acada8;
    margin: 10px 0;
    font-size: 14px;
    outline: none;
}
.select2{
    width: 100%!important;
    outline: none;
}
.select2-selection{
    border-radius: 0px!important;
    outline: none; 
    border: none!important;
    border-bottom: 1px solid #acada8!important;
}
#assigmComment{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 0;
    margin: 7px 0;
    outline: none;
}
#assigmRating{
    max-height: 100px;
}
#assigmResult, #assigmResolution{
    font-size: 16px;
    margin: 7px 0;
}
#assigmResolution, #assigmRating, #assigmComment{
    margin-top: 20px;
    border-bottom: 1px solid #acada8!important;
}
#assigmResolutionValue, #assigmComment{
    padding: 5px 20px;
}
#select2-resultSelect-container{
    padding-left: 20px!important;
}
#ratingElements{
    display: flex;
    margin: 10px 0px;
}
#buttonWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.modalBtn{
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 5px;
}
.displayNone{
    display: none;
}
#button_save{
    background-color: rgba(21, 189, 244, 1);
    border: none;
    border-radius: 5px;
    color: #fff;
}
#button_close{
    background-color: transparent;
    color: rgba(21, 189, 244, 1);
    border: none;
}
.caption{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
.container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    cursor: pointer;
    height: 50px;
}
input.radio{
    width: 20px;
    height: 20px;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: #eee;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {  
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.registrated{
    color: #fff;
}
.notDone{
    color: red;
}
 .yellow{
    color: yellow;
}
.inWork{
    color: green;
}
.onCheck{
    color: blue;
}
.closed{
    color: grey;
}
