.widget-parent{
    border: 1px solid #000;
}

.root-main{
    position: relative;
}

.cell-item{
    text-align: center;
    box-sizing: border-box;
    padding: 5px 2px;
    font-family: Roboto;
    font-size: 18px;
    padding-top: 5px;
    background-color: rgba(235, 235, 235, 1);
    width: 20%;
    border-radius: 10px ;
    position: relative;
}

.data{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#title{
    font-family: Roboto;
    font-size: 16px;
    text-transform: uppercase;
    color: #999999;
}

.date-block{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    color: #999999;
}

.fa-arrow-up{
  color:green;
  font-size: 24px;
}

.fa-arrow-down{
    color:red;
    font-size: 24px;
}

.cell-info{
    font-size: 32px;
}

.cell-info.active{
    color: #000;
}

.cell-info.num{
    font-size: 20px;
}

.widget-parent{
    border: none;
}

#colored-row-element{
    background-color: black!important;
}

.first{
    color: #8e82bd;
    vertical-align: middle;
    font-size: 22px;
}

.fourth{
    color: #f6b1af;
    vertical-align: middle;
    font-size: 22px;
}

.icon{
    color: #83e2d7;
    vertical-align: middle;
    font-size: 22px;
}

.info-button{
    position: absolute;
    bottom: 5px;
    right: 15px;
    cursor: pointer;
    color: rgb(247, 25, 25);
}

.modal{
    display: none;
    position: absolute;
    top:50%;
    right:50%;
    transform: translate(50%,-50%);
    z-index: 15;
    background-color: rgb(238, 237, 237);
    padding: 50px;
    border-radius: 10px;
    border:1px solid black;
}

.modal.active{
    display: block;
}

.close-modal{
    position: absolute;
    top:10px;
    right:10px;
    color: red;
    font-size: 35px;
    cursor: pointer;
}

.modal-title{
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#ChartWidget-1{
    text-align: center;
    justify-content: center;
}

.wrapper {
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
}

.primary{
    margin-right: 80px;
}