.column{
    color: #000;
    font-family: Arial;
}

.column-violet{
    background-color: #bbb1db;
}

.column-green{
    background-color: #C9E6E3;
}

.column-red{
    background-color: #f9cdcc;
}

.column-olive{
    background-color: #ededed;
}

.column-orange{
    background-color: #fcfad4;
}

.column-blue{
    background-color: #def1ef;
}

.column-grey{
    background-color: #eeeeee;
}

.dx-datagrid-export-button{
    display: none;
}

.dx-icon-export-excel-button{
    color: #fff!important;
    margin-right: 9px!important;
}

.dx-button.dx-button-default.dx-button-mode-contained.dx-widget.dx-button-has-icon.dx-button-has-text{
    background-color: rgba(21, 189, 244, 1)!important;
}